# Data Preparation
Tahapan:
- Cleansing: data type
- Selecting data (Sampling, feature selection)
- Constructing data
- Combining data
- Formating
## Cleansing Data
1. Determining correct type
df[col]=df[col].astype(type)
2. Handling missing values
df[col].fillna() or df.dropna()
3. Exclude outliers data
df[filtering outlier conditions]

In [49]:
import pandas as pd
df = pd.read_csv("imports-85.data", header=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
0     205 non-null int64
1     205 non-null object
2     205 non-null object
3     205 non-null object
4     205 non-null object
5     205 non-null object
6     205 non-null object
7     205 non-null object
8     205 non-null object
9     205 non-null float64
10    205 non-null float64
11    205 non-null float64
12    205 non-null float64
13    205 non-null int64
14    205 non-null object
15    205 non-null object
16    205 non-null int64
17    205 non-null object
18    205 non-null object
19    205 non-null object
20    205 non-null float64
21    205 non-null object
22    205 non-null object
23    205 non-null int64
24    205 non-null int64
25    205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

In [50]:
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.00,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
23,1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957
24,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
27,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
28,-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5000,24,30,8921
29,3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.60,3.90,7.00,145,5000,19,24,12964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,9988
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,10898
177,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,11248
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.20,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.20,156,5200,19,24,15750
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.00,52,4800,37,46,7775
183,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,7975
184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.00,52,4800,37,46,7995
185,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8195
186,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8495
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.00,68,4500,37,42,9495
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.00,100,5500,26,32,9995
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.50,90,5500,24,29,11595
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.50,90,5500,24,29,9980
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.50,110,5500,19,24,13295
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.00,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.00,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.70,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.80,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.00,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,19,25,22625

In [2]:
for i in range(26):
    nr=df[df[i]=="?"].shape[0]
    if nr>0:
        print(i,":",nr)

1 : 41
5 : 2
18 : 4
19 : 4
21 : 2
22 : 2
25 : 4

C:\Users\labdas.DESKTOP-PR1HO9I\AppData\Roaming\Python\Python35\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [3]:
df.dtypes

0       int64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18     object
19     object
20    float64
21     object
22     object
23      int64
24      int64
25     object
dtype: object

In [4]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mp
import seaborn as sns

#df[1] = df[1].replace('?', np.NaN)
#df[1] = df[1].astype('float64')

In [5]:
for i in range(len(df.columns)): 
    if (i!=5) and (df[i].dtypes=='object') and (df[df[i]=='?'].shape[0]>0): 
    #not including att-5 (num-of-doors) 
            print('\nAttribute-',i,':',df[df[i]=='?'].shape[0]) 
            df[i] = df[i].replace('?', np.NaN) 
            df[i] = df[i].astype('float64')

Attribute- 1 : 41

Attribute- 18 : 4

Attribute- 19 : 4

Attribute- 21 : 2

Attribute- 22 : 2

Attribute- 25 : 4

# Drop Missing Values (menghapus/menghilangkan row or columns)

DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [6]:
df[5] = df[5].replace('?', np.NaN) 
df_drop=df.dropna() 
df_drop.shape[0]

159

In [7]:
df.shape[0]

205

In [8]:
df_drop=df.dropna(axis='columns')
df_drop.shape

(205, 19)

In [9]:
df_drop=df.dropna(how='all')
df_drop.shape

(205, 26)

In [10]:
df_drop.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [11]:
df_drop=df.dropna(thresh=24)
df_drop.shape

(203, 26)

# Replace Missing Values

DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)

In [12]:
df_drop.describe()

,0,1,9,10,11,12,13,16,18,19,20,21,22,23,24,25
count,203.000000,164.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,199.000000,199.000000,203.000000,203.000000,203.000000,203.000000,203.000000,199.000000
mean,0.832512,122.000000,98.782759,173.999015,65.901478,53.733498,2555.921182,126.857143,3.328442,3.248945,10.156749,104.256158,5125.369458,25.241379,30.748768,13243.432161
std,1.247384,35.442168,6.045680,12.385511,2.154835,2.442864,523.205555,41.845239,0.274602,0.311583,3.989048,39.714369,479.334560,6.570702,6.920406,7978.707609
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.300000,64.050000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.550000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,119.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10345.000000
75%,2.000000,150.000000,102.400000,183.300000,66.900000,55.500000,2943.500000,143.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,35.000000,16501.500000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [13]:
for i in range(len(df.columns)): 
    if (df[df[i].isnull()].shape[0]>0): 
        print('\nAttribute-',i,' (before) :',df[df[i].isnull()].shape[0]) 
        if (df[i].dtypes in ['int64','float64']): 
            df[i].fillna(df[df[i].notnull()][i].mean(), inplace=True) 
        else: 
            df[i].fillna(df[df[i].notnull()][i].mode(), inplace=True) 
        print('\nAttribute-',i,' (after) :',df[df[i].isnull()].shape[0])

df.describe()

Attribute- 1  (before) : 41

Attribute- 1  (after) : 0

Attribute- 5  (before) : 2

Attribute- 5  (after) : 2

Attribute- 18  (before) : 4

Attribute- 18  (after) : 0

Attribute- 19  (before) : 4

Attribute- 19  (after) : 0

Attribute- 21  (before) : 2

Attribute- 21  (after) : 0

Attribute- 22  (before) : 2

Attribute- 22  (after) : 0

Attribute- 25  (before) : 4

Attribute- 25  (after) : 0

,0,1,9,10,11,12,13,16,18,19,20,21,22,23,24,25
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.519211,476.979093,6.542142,6.886443,7868.768212
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,2.000000,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [14]:
df.shape

(205, 26)

In [15]:
df.shape[0]

205

In [16]:
df.shape[1]

26

In [17]:
df[5].describe()

count      203
unique       2
top       four
freq       114
Name: 5, dtype: object

In [18]:
df[5].describe()

count      203
unique       2
top       four
freq       114
Name: 5, dtype: object

# Selecting Data

DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

# Feature Extraction

isLuxury is a new feature that will be true if a car has front-engine (attribute 8 is front) and rear-wheel drive (attribute 7 is rwd).

In [19]:
df['isLuxury'] = df.apply(lambda row: 1 if ((row[7]=='rwd') and (row[8]=='front')) else 0, axis=1)

In [20]:
df['isLuxury'] = df['isLuxury'].astype("category") 
df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,isLuxury
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0,1
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,1
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,1
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,0

In [21]:
# Exercise 1

df['fueleconomy'] = df.apply(lambda row:0.55*row[23]+0.45*row[24], axis=1)
df['fueleconomy'] = df['fueleconomy'].astype("float64")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,isLuxury,fueleconomy
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0,1,23.70
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,1,23.70
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,1,22.15
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,0,26.70
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,0,19.80

In [22]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [23]:
min_max_scaler = preprocessing.MinMaxScaler() 
newdf = df.select_dtypes(include=['float64']) 
newdf_scaled = min_max_scaler.fit_transform(newdf) 
newdf =pd.DataFrame(newdf_scaled) 
newdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.298429,0.058309,0.413433,0.316667,0.083333,0.664286,0.290476,0.1250,0.262500,0.346939,0.207959,0.244170
1,0.298429,0.058309,0.413433,0.316667,0.083333,0.664286,0.290476,0.1250,0.262500,0.346939,0.282558,0.244170
2,0.298429,0.230321,0.449254,0.433333,0.383333,0.100000,0.666667,0.1250,0.441667,0.346939,0.282558,0.201646
3,0.518325,0.384840,0.529851,0.491667,0.541667,0.464286,0.633333,0.1875,0.225000,0.551020,0.219254,0.326475
4,0.518325,0.373178,0.529851,0.508333,0.541667,0.464286,0.633333,0.0625,0.279167,0.551020,0.306142,0.137174

In [24]:
df[18].describe()

count    205.000000
mean       3.329751
std        0.270844
min        2.540000
25%        3.150000
50%        3.310000
75%        3.580000
max        3.940000
Name: 18, dtype: float64

In [25]:
# StandarScaler

from sklearn.preprocessing import StandardScaler 
sc=StandardScaler() 
df_std = df.select_dtypes(include=['float64']) 
df_std = df_std.dropna() 
df_std=sc.fit_transform(df_std) 
df_std = pd.DataFrame(df_std) 
df_std.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000000,-1.690772,-0.426521,-0.844782,-2.020417,0.519089,-1.839404,-0.288349,0.171065,-0.263484,0.036674,-0.604374
1,0.000000,-1.690772,-0.426521,-0.844782,-2.020417,0.519089,-1.839404,-0.288349,0.171065,-0.263484,0.419498,-0.604374
2,0.000000,-0.708596,-0.231513,-0.190566,-0.543527,-2.404862,0.685920,-0.288349,1.261807,-0.263484,0.419498,-0.838056
3,1.328961,0.173698,0.207256,0.136542,0.235942,-0.517248,0.462157,-0.035973,-0.057230,0.787346,0.094639,-0.152086
4,1.328961,0.107110,0.207256,0.230001,0.235942,-0.517248,0.462157,-0.540725,0.272529,0.787346,0.540524,-1.192348

# Exercise 7: Binning

In [26]:
bins = [0,10000,20000,40000] 
car_bin=['Budget','Medium','Highend'] 
df['carsrange'] = pd.cut(df[25],bins,right=False,labels=car_bin) 
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,isLuxury,fueleconomy,carsrange
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,13495.000000,1,23.70,Medium
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,16500.000000,1,23.70,Medium
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154.0,5000.0,19,26,16500.000000,1,22.15,Medium
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.40,10.0,102.0,5500.0,24,30,13950.000000,0,26.70,Medium
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.40,8.0,115.0,5500.0,18,22,17450.000000,0,19.80,Medium
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,3.40,8.5,110.0,5500.0,19,25,15250.000000,0,21.70,Medium
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,3.40,8.5,110.0,5500.0,19,25,17710.000000,0,21.70,Medium
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,3.40,8.5,110.0,5500.0,19,25,18920.000000,0,21.70,Medium
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,3.40,8.3,140.0,5500.0,17,20,23875.000000,0,18.35,Highend
9,0,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,3.40,7.0,160.0,5500.0,16,22,13207.129353,0,18.70,Medium

## Explain:

### Hasil dari output diatas menambahkan feature baru yang memberikan informasi terkait harga mobil, dimana:
#### * harga 0-10000: Budget
#### * harga 10000-20000: Medium
#### * harga 20000-40000: Highend

In [40]:
df.to_csv(index=False)

'0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25\r\n3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495\r\n3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500\r\n1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500\r\n2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950\r\n2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450\r\n2,?,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,5,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250\r\n1,158,audi,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,55.7,2844,ohc,5,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710\r\n1,?,audi,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,55.7,2954,ohc,5,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920\r\n1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,55.9,3086,ohc,5,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875\r\n0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,67.9,52.0,3053,ohc,5,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?\r\n2,192,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,ohc,4,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430\r\n0,192,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,ohc,4,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925\r\n0,188,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2710,ohc,6,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970\r\n0,188,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,54.3,2765,ohc,6,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105\r\n1,?,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,55.7,3055,ohc,6,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565\r\n0,?,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,55.7,3230,ohc,6,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760\r\n0,?,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,67.9,53.7,3380,ohc,6,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315\r\n0,?,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,70.9,56.3,3505,ohc,6,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880\r\n2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,141.1,60.3,53.2,1488,l,3,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151\r\n1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,4,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295\r\n0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,158.8,63.6,52.0,1909,ohc,4,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575\r\n1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1876,ohc,4,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572\r\n1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1876,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6377\r\n1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,2128,ohc,4,98,mpfi,3.03,3.39,7.6,102,5500,24,30,7957\r\n1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,157.3,63.8,50.6,1967,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229\r\n1,148,dodge,gas,std,four,sedan,fwd,front,93.7,157.3,63.8,50.6,1989,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692\r\n1,148,dodge,gas,std,four,sedan,fwd,front,93.7,157.3,63.8,50.6,1989,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38,7609\r\n1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,50.6,2191,ohc,4,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558\r\n-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,174.6,64.6,59.8,2535,ohc,4,122,2bbl,3.34,3.46,8.5,88,5000,24,30,8921\r\n3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2811,ohc,4,156,mfi,3.60,3.90,7.0,145,5000,19,24,12964\r\n2,137,honda,gas,std,two,hatchback,fwd,front,86.6,144.6,63.9,50.8,1713,ohc,4,92,1bbl,2.91,3.41,9.6,58,4800,49,54,6479\r\n2,137,honda,gas,std,two,hatchback,fwd,front,86.6,144.6,63.9,50.8,1819,ohc,4,92,1bbl,2.91,3.41,9.2,76,6000,31,38,6855\r\n1,101,honda,gas,std,two,hatchback,fwd,front,93.7,150.0,64.0,52.6,1837,ohc,4,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399\r\n1,101,honda,gas,std,two,hatchback,fwd,front,93.7,150.0,64.0,52.6,1940,ohc,4,92,1bbl,2.91,3.41,9.2,76,6000,30,34,6529\r\n1,101,honda,gas,std,two,hatchback,fwd,front,93.7,150.0,64.0,52.6,1956,ohc,4,92,1bbl,2.91,3.41,9.2,76,6000,30,34,7129\r\n0,110,honda,gas,std,four,sedan,fwd,front,96.5,163.4,64.0,54.5,2010,ohc,4,92,1bbl,2.91,3.41,9.2,76,6000,30,34,7295\r\n0,78,honda,gas,std,four,wagon,fwd,front,96.5,157.1,63.9,58.3,2024,ohc,4,92,1bbl,2.92,3.41,9.2,76,6000,30,34,7295\r\n0,106,honda,gas,std,two,hatchback,fwd,front,96.5,167.5,65.2,53.3,2236,ohc,4,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895\r\n0,106,honda,gas,std,two,hatchback,fwd,front,96.5,167.5,65.2,53.3,2289,ohc,4,110,1bbl,3.15,3.58,9.0,86,5800,27,33,9095\r\n0,85,honda,gas,std,four,sedan,fwd,front,96.5,175.4,65.2,54.1,2304,ohc,4,110,1bbl,3.15,3.58,9.0,86,5800,27,33,8845\r\n0,85,honda,gas,std,four,sedan,fwd,front,96.5,175.4,62.5,54.1,2372,ohc,4,110,1bbl,3.15,3.58,9.0,86,5800,27,33,10295\r\n0,85,honda,gas,std,four,sedan,fwd,front,96.5,175.4,65.2,54.1,2465,ohc,4,110,mpfi,3.15,3.58,9.0,101,5800,24,28,12945\r\n1,107,honda,gas,std,two,sedan,fwd,front,96.5,169.1,66.0,51.0,2293,ohc,4,110,2bbl,3.15,3.58,9.1,100,5500,25,31,10345\r\n0,?,isuzu,gas,std,four,sedan,rwd,front,94.3,170.7,61.8,53.5,2337,ohc,4,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785\r\n1,?,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,4,90,2bbl,3.03,3.11,9.6,70,5400,38,43,?\r\n0,?,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,63.6,52.0,1909,ohc,4,90,2bbl,3.03,3.11,9.6,70,5400,38,43,?\r\n2,?,isuzu,gas,std,two,hatchback,rwd,front,96.0,172.6,65.2,51.4,2734,ohc,4,119,spfi,3.43,3.23,9.2,90,5000,24,29,11048\r\n0,145,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,69.6,52.8,4066,dohc,6,258,mpfi,3.63,4.17,8.1,176,4750,15,19,32250\r\n0,?,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,69.6,52.8,4066,dohc,6,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550\r\n0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,191.7,70.6,47.8,3950,ohcv,12,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000\r\n1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,54.1,1890,ohc,4,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195\r\n1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,54.1,1900,ohc,4,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095\r\n1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,54.1,1905,ohc,4,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6795\r\n1,113,mazda,gas,std,four,sedan,fwd,front,93.1,166.8,64.2,54.1,1945,ohc,4,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695\r\n1,113,mazda,gas,std,four,sedan,fwd,front,93.1,166.8,64.2,54.1,1950,ohc,4,91,2bbl,3.08,3.15,9.0,68,5000,31,38,7395\r\n3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,2,70,4bbl,?,?,9.4,101,6000,17,23,10945\r\n3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,2,70,4bbl,?,?,9.4,101,6000,17,23,11845\r\n3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2385,rotor,2,70,4bbl,?,?,9.4,101,6000,17,23,13645\r\n3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2500,rotor,2,80,mpfi,?,?,9.4,135,6000,16,23,15645\r\n1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,177.8,66.5,53.7,2385,ohc,4,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845\r\n0,115,mazda,gas,std,four,sedan,fwd,front,98.8,177.8,66.5,55.5,2410,ohc,4,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495\r\n1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,177.8,66.5,53.7,2385,ohc,4,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595\r\n0,115,mazda,gas,std,four,sedan,fwd,front,98.8,177.8,66.5,55.5,2410,ohc,4,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10245\r\n0,?,mazda,diesel,std,?,sedan,fwd,front,98.8,177.8,66.5,55.5,2443,ohc,4,122,idi,3.39,3.39,22.7,64,4650,36,42,10795\r\n0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,177.8,66.5,55.5,2425,ohc,4,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245\r\n0,118,mazda,gas,std,four,sedan,rwd,front,104.9,175.0,66.1,54.4,2670,ohc,4,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280\r\n0,?,mazda,diesel,std,four,sedan,rwd,front,104.9,175.0,66.1,54.4,2700,ohc,4,134,idi,3.43,3.64,22.0,72,4200,31,39,18344\r\n-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,190.9,70.3,56.5,3515,ohc,5,183,idi,3.58,3.64,21.5,123,4350,22,25,25552\r\n-1,93,mercedes-benz,diesel,turbo,four,wagon,rwd,front,110.0,190.9,70.3,58.7,3750,ohc,5,183,idi,3.58,3.64,21.5,123,4350,22,25,28248\r\n0,93,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,187.5,70.3,54.9,3495,ohc,5,183,idi,3.58,3.64,21.5,123,4350,22,25,28176\r\n-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,71.7,56.3,3770,ohc,5,183,idi,3.58,3.64,21.5,123,4350,22,25,31600\r\n-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,71.7,56.5,3740,ohcv,8,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184\r\n3,142,mercedes-benz,gas,std,two,convertible,rwd,front,96.6,180.3,70.5,50.8,3685,ohcv,8,234,mpfi,3.46,3.10,8.3,155,4750,16,18,35056\r\n0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,71.7,56.7,3900,ohcv,8,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960\r\n1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,72.0,55.4,3715,ohcv,8,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400\r\n1,?,mercury,gas,turbo,two,hatchback,rwd,front,102.7,178.4,68.0,54.8,2910,ohc,4,140,mpfi,3.78,3.12,8.0,175,5000,19,24,16503\r\n2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,1918,ohc,4,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389\r\n2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,1944,ohc,4,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6189\r\n2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,2004,ohc,4,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6669\r\n1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,157.3,63.8,50.8,2145,ohc,4,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689\r\n3,153,mitsubishi,gas,turbo,two,hatchback,fwd,front,96.3,173.0,65.4,49.4,2370,ohc,4,110,spdi,3.17,3.46,7.5,116,5500,23,30,9959\r\n3,153,mitsubishi,gas,std,two,hatchback,fwd,front,96.3,173.0,65.4,49.4,2328,ohc,4,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499\r\n3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2833,ohc,4,156,spdi,3.58,3.86,7.0,145,5000,19,24,12629\r\n3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2921,ohc,4,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869\r\n3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2926,ohc,4,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489\r\n1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2365,ohc,4,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989\r\n1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2405,ohc,4,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8189\r\n1,125,mitsubishi,gas,turbo,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2403,ohc,4,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279\r\n-1,137,mitsubishi,gas,std,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2403,ohc,4,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279\r\n1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1889,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499\r\n1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,2017,ohc,4,103,idi,2.99,3.47,21.9,55,4800,45,50,7099\r\n1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1918,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649\r\n1,122,nissan,gas,std,four,sedan,fwd,front,94.5,165.3,63.8,54.5,1938,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849\r\n1,103,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,53.5,2024,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7349\r\n1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1951,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299\r\n1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,165.6,63.8,53.3,2028,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799\r\n1,122,nissan,gas,std,four,sedan,fwd,front,94.5,165.3,63.8,54.5,1971,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7499\r\n1,103,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,53.5,2037,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7999\r\n2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,162.4,63.8,53.3,2008,ohc,4,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249\r\n0,106,nissan,gas,std,four,hatchback,fwd,front,97.2,173.4,65.2,54.7,2324,ohc,4,120,2bbl,3.33,3.47,8.5,97,5200,27,34,8949\r\n0,106,nissan,gas,std,four,sedan,fwd,front,97.2,173.4,65.2,54.7,2302,ohc,4,120,2bbl,3.33,3.47,8.5,97,5200,27,34,9549\r\n0,128,nissan,gas,std,four,sedan,fwd,front,100.4,181.7,66.5,55.1,3095,ohcv,6,181,mpfi,3.43,3.27,9.0,152,5200,17,22,13499\r\n0,108,nissan,gas,std,four,wagon,fwd,front,100.4,184.6,66.5,56.1,3296,ohcv,6,181,mpfi,3.43,3.27,9.0,152,5200,17,22,14399\r\n0,108,nissan,gas,std,four,sedan,fwd,front,100.4,184.6,66.5,55.1,3060,ohcv,6,181,mpfi,3.43,3.27,9.0,152,5200,19,25,13499\r\n3,194,nissan,gas,std,two,hatchback,rwd,front,91.3,170.7,67.9,49.7,3071,ohcv,6,181,mpfi,3.43,3.27,9.0,160,5200,19,25,17199\r\n3,194,nissan,gas,turbo,two,hatchback,rwd,front,91.3,170.7,67.9,49.7,3139,ohcv,6,181,mpfi,3.43,3.27,7.8,200,5200,17,23,19699\r\n1,231,nissan,gas,std,two,hatchback,rwd,front,99.2,178.5,67.9,49.7,3139,ohcv,6,181,mpfi,3.43,3.27,9.0,160,5200,19,25,18399\r\n0,161,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3020,l,4,120,mpfi,3.46,3.19,8.4,97,5000,19,24,11900\r\n0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3197,l,4,152,idi,3.70,3.52,21.0,95,4150,28,33,13200\r\n0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,58.7,3230,l,4,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440\r\n0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,198.9,68.4,58.7,3430,l,4,152,idi,3.70,3.52,21.0,95,4150,25,25,13860\r\n0,161,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3075,l,4,120,mpfi,3.46,2.19,8.4,95,5000,19,24,15580\r\n0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3252,l,4,152,idi,3.70,3.52,21.0,95,4150,28,33,16900\r\n0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,56.7,3285,l,4,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695\r\n0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,198.9,68.4,58.7,3485,l,4,152,idi,3.70,3.52,21.0,95,4150,25,25,17075\r\n0,161,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3075,l,4,120,mpfi,3.46,3.19,8.4,97,5000,19,24,16630\r\n0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3252,l,4,152,idi,3.70,3.52,21.0,95,4150,28,33,17950\r\n0,161,peugot,gas,turbo,four,sedan,rwd,front,108.0,186.7,68.3,56.0,3130,l,4,134,mpfi,3.61,3.21,7.0,142,5600,18,24,18150\r\n1,119,plymouth,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1918,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,37,41,5572\r\n1,119,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,2128,ohc,4,98,spdi,3.03,3.39,7.6,102,5500,24,30,7957\r\n1,154,plymouth,gas,std,four,hatchback,fwd,front,93.7,157.3,63.8,50.6,1967,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229\r\n1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,167.3,63.8,50.8,1989,ohc,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692\r\n1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,167.3,63.8,50.8,2191,ohc,4,98,2bbl,2.97,3.23,9.4,68,5500,31,38,7609\r\n-1,74,plymouth,gas,std,four,wagon,fwd,front,103.3,174.6,64.6,59.8,2535,ohc,4,122,2bbl,3.35,3.46,8.5,88,5000,24,30,8921\r\n3,?,plymouth,gas,turbo,two,hatchback,rwd,front,95.9,173.2,66.3,50.2,2818,ohc,4,156,spdi,3.59,3.86,7.0,145,5000,19,24,12764\r\n3,186,porsche,gas,std,two,hatchback,rwd,front,94.5,168.9,68.3,50.2,2778,ohc,4,151,mpfi,3.94,3.11,9.5,143,5500,19,27,22018\r\n3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,168.9,65.0,51.6,2756,ohcf,6,194,mpfi,3.74,2.90,9.5,207,5900,17,25,32528\r\n3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,168.9,65.0,51.6,2756,ohcf,6,194,mpfi,3.74,2.90,9.5,207,5900,17,25,34028\r\n3,?,porsche,gas,std,two,convertible,rwd,rear,89.5,168.9,65.0,51.6,2800,ohcf,6,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028\r\n1,?,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,72.3,50.5,3366,dohcv,8,203,mpfi,3.94,3.11,10.0,288,5750,17,28,?\r\n0,?,renault,gas,std,four,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,4,132,mpfi,3.46,3.90,8.7,?,?,23,31,9295\r\n2,?,renault,gas,std,two,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,4,132,mpfi,3.46,3.90,8.7,?,?,23,31,9895\r\n3,150,saab,gas,std,two,hatchback,fwd,front,99.1,186.6,66.5,56.1,2658,ohc,4,121,mpfi,3.54,3.07,9.31,110,5250,21,28,11850\r\n2,104,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,56.1,2695,ohc,4,121,mpfi,3.54,3.07,9.3,110,5250,21,28,12170\r\n3,150,saab,gas,std,two,hatchback,fwd,front,99.1,186.6,66.5,56.1,2707,ohc,4,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040\r\n2,104,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,56.1,2758,ohc,4,121,mpfi,3.54,3.07,9.3,110,5250,21,28,15510\r\n3,150,saab,gas,turbo,two,hatchback,fwd,front,99.1,186.6,66.5,56.1,2808,dohc,4,121,mpfi,3.54,3.07,9.0,160,5500,19,26,18150\r\n2,104,saab,gas,turbo,four,sedan,fwd,front,99.1,186.6,66.5,56.1,2847,dohc,4,121,mpfi,3.54,3.07,9.0,160,5500,19,26,18620\r\n2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,63.4,53.7,2050,ohcf,4,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118\r\n2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,157.9,63.6,53.7,2120,ohcf,4,108,2bbl,3.62,2.64,8.7,73,4400,26,31,7053\r\n2,83,subaru,gas,std,two,hatchback,4wd,front,93.3,157.3,63.8,55.7,2240,ohcf,4,108,2bbl,3.62,2.64,8.7,73,4400,26,31,7603\r\n0,102,subaru,gas,std,four,sedan,fwd,front,97.2,172.0,65.4,52.5,2145,ohcf,4,108,2bbl,3.62,2.64,9.5,82,4800,32,37,7126\r\n0,102,subaru,gas,std,four,sedan,fwd,front,97.2,172.0,65.4,52.5,2190,ohcf,4,108,2bbl,3.62,2.64,9.5,82,4400,28,33,7775\r\n0,102,subaru,gas,std,four,sedan,fwd,front,97.2,172.0,65.4,52.5,2340,ohcf,4,108,mpfi,3.62,2.64,9.0,94,5200,26,32,9960\r\n0,102,subaru,gas,std,four,sedan,4wd,front,97.0,172.0,65.4,54.3,2385,ohcf,4,108,2bbl,3.62,2.64,9.0,82,4800,24,25,9233\r\n0,102,subaru,gas,turbo,four,sedan,4wd,front,97.0,172.0,65.4,54.3,2510,ohcf,4,108,mpfi,3.62,2.64,7.7,111,4800,24,29,11259\r\n0,89,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,53.0,2290,ohcf,4,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463\r\n0,89,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,53.0,2455,ohcf,4,108,mpfi,3.62,2.64,9.0,94,5200,25,31,10198\r\n0,85,subaru,gas,std,four,wagon,4wd,front,96.9,173.6,65.4,54.9,2420,ohcf,4,108,2bbl,3.62,2.64,9.0,82,4800,23,29,8013\r\n0,85,subaru,gas,turbo,four,wagon,4wd,front,96.9,173.6,65.4,54.9,2650,ohcf,4,108,mpfi,3.62,2.64,7.7,111,4800,23,23,11694\r\n1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,63.6,54.5,1985,ohc,4,92,2bbl,3.05,3.03,9.0,62,4800,35,39,5348\r\n1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,63.6,54.5,2040,ohc,4,92,2bbl,3.05,3.03,9.0,62,4800,31,38,6338\r\n1,74,toyota,gas,std,four,hatchback,fwd,front,95.7,158.7,63.6,54.5,2015,ohc,4,92,2bbl,3.05,3.03,9.0,62,4800,31,38,6488\r\n0,77,toyota,gas,std,four,wagon,fwd,front,95.7,169.7,63.6,59.1,2280,ohc,4,92,2bbl,3.05,3.03,9.0,62,4800,31,37,6918\r\n0,81,toyota,gas,std,four,wagon,4wd,front,95.7,169.7,63.6,59.1,2290,ohc,4,92,2bbl,3.05,3.03,9.0,62,4800,27,32,7898\r\n0,91,toyota,gas,std,four,wagon,4wd,front,95.7,169.7,63.6,59.1,3110,ohc,4,92,2bbl,3.05,3.03,9.0,62,4800,27,32,8778\r\n0,91,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,64.4,53.0,2081,ohc,4,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938\r\n0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2109,ohc,4,98,2bbl,3.19,3.03,9.0,70,4800,30,37,7198\r\n0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,166.3,64.4,53.0,2275,ohc,4,110,idi,3.27,3.35,22.5,56,4500,34,36,7898\r\n0,91,toyota,diesel,std,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2275,ohc,4,110,idi,3.27,3.35,22.5,56,4500,38,47,7788\r\n0,91,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,64.4,53.0,2094,ohc,4,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738\r\n0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2122,ohc,4,98,2bbl,3.19,3.03,9.0,70,4800,28,34,8358\r\n0,91,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,64.4,52.8,2140,ohc,4,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258\r\n1,168,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,64.0,52.6,2169,ohc,4,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8058\r\n1,168,toyota,gas,std,two,hatchback,rwd,fron

In [27]:
df[18].describe()

count    205.000000
mean       3.329751
std        0.270844
min        2.540000
25%        3.150000
50%        3.310000
75%        3.580000
max        3.940000
Name: 18, dtype: float64

In [28]:
df = pd.read_csv("imports-85.data", header=None)

In [29]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
0     205 non-null int64
1     205 non-null object
2     205 non-null object
3     205 non-null object
4     205 non-null object
5     205 non-null object
6     205 non-null object
7     205 non-null object
8     205 non-null object
9     205 non-null float64
10    205 non-null float64
11    205 non-null float64
12    205 non-null float64
13    205 non-null int64
14    205 non-null object
15    205 non-null object
16    205 non-null int64
17    205 non-null object
18    205 non-null object
19    205 non-null object
20    205 non-null float64
21    205 non-null object
22    205 non-null object
23    205 non-null int64
24    205 non-null int64
25    205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

In [31]:
df[5]=df[5].replace({'two': 2, 'four': 4})
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [32]:
for i in range(len(df.columns)): 
    if (df[i].dtypes=='object'): 
        df[i] = df[i].astype('category') 
        df[i] = df[i].cat.codes 

df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,51,0,1,0,0,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,31
1,3,51,0,1,0,0,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,50
2,1,51,0,1,0,0,2,2,0,94.5,...,152,5,1,27,9.0,20,10,19,26,50
3,2,27,1,1,0,1,3,1,0,99.8,...,109,5,13,24,10.0,2,16,24,30,36
4,2,27,1,1,0,1,3,0,0,99.4,...,136,5,13,24,8.0,8,16,18,22,61

In [33]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder() 
for i in range(len(df.columns)): 
    if (df[i].dtypes=='object'): 
        le.fit(df[i]) 
        df[i] = le.transform(df[i]) 
        
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,51,0,1,0,0,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,31
1,3,51,0,1,0,0,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,50
2,1,51,0,1,0,0,2,2,0,94.5,...,152,5,1,27,9.0,20,10,19,26,50
3,2,27,1,1,0,1,3,1,0,99.8,...,109,5,13,24,10.0,2,16,24,30,36
4,2,27,1,1,0,1,3,0,0,99.4,...,136,5,13,24,8.0,8,16,18,22,61

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
0     205 non-null int64
1     205 non-null int8
2     205 non-null int8
3     205 non-null int8
4     205 non-null int8
5     205 non-null int8
6     205 non-null int8
7     205 non-null int8
8     205 non-null int8
9     205 non-null float64
10    205 non-null float64
11    205 non-null float64
12    205 non-null float64
13    205 non-null int64
14    205 non-null int8
15    205 non-null int8
16    205 non-null int64
17    205 non-null int8
18    205 non-null int8
19    205 non-null int8
20    205 non-null float64
21    205 non-null int8
22    205 non-null int8
23    205 non-null int64
24    205 non-null int64
25    205 non-null int16
dtypes: float64(5), int16(1), int64(5), int8(15)
memory usage: 19.5 KB

In [35]:
df = pd.read_csv("imports-85.data", header=None)

In [36]:
df_encode = pd.get_dummies(data=df, columns=[2])
df_encode.head()

,0,1,3,4,5,6,7,8,9,10,...,2_nissan,2_peugot,2_plymouth,2_porsche,2_renault,2_saab,2_subaru,2_toyota,2_volkswagen,2_volvo
0,3,?,gas,std,two,convertible,rwd,front,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
1,3,?,gas,std,two,convertible,rwd,front,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
2,1,?,gas,std,two,hatchback,rwd,front,94.5,171.2,...,0,0,0,0,0,0,0,0,0,0
3,2,164,gas,std,four,sedan,fwd,front,99.8,176.6,...,0,0,0,0,0,0,0,0,0,0
4,2,164,gas,std,four,sedan,4wd,front,99.4,176.6,...,0,0,0,0,0,0,0,0,0,0

# Exercise 6
## A.  For each categorical attributes, identify the most appropriate categorical encoding. 
## B. Write a program to encode those categorical attributes

In [37]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder() 
for i in range(len(df.columns)): 
    if (df[i].dtypes=='object'): 
        le.fit(df[i]) 
        df[i] = le.transform(df[i]) 
        
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,51,0,1,0,2,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,31
1,3,51,0,1,0,2,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,50
2,1,51,0,1,0,2,2,2,0,94.5,...,152,5,1,27,9.0,20,10,19,26,50
3,2,27,1,1,0,1,3,1,0,99.8,...,109,5,13,24,10.0,2,16,24,30,36
4,2,27,1,1,0,1,3,0,0,99.4,...,136,5,13,24,8.0,8,16,18,22,61

In [38]:
df = pd.read_csv("imports-85.data", header=None)

In [39]:
df[15]=df[15].replace({'eight': 8, 'five': 5, 'four': 4, 'six': 6, 'three': 3, 'twelve': 12, 'two': 2})
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Exercise 8: Lakukan hal yang sama pada exercise sebelumnya

In [46]:
wq = pd.read_csv("winequality-white.csv", sep=";")
wq.head

<bound method NDFrame.head of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.0             0.270         0.36           20.70      0.045
1               6.3             0.300         0.34            1.60      0.049
2               8.1             0.280         0.40            6.90      0.050
3               7.2             0.230         0.32            8.50      0.058
4               7.2             0.230         0.32            8.50      0.058
5               8.1             0.280         0.40            6.90      0.050
6               6.2             0.320         0.16            7.00      0.045
7               7.0             0.270         0.36           20.70      0.045
8               6.3             0.300         0.34            1.60      0.049
9               8.1             0.220         0.43            1.50      0.044
10              8.1             0.270         0.41            1.45      0.033
11              8.6             0.230         0.40            4.20      0.035
12              7.9             0.180         0.37            1.20      0.040
13              6.6             0.160         0.40            1.50      0.044
14              8.3             0.420         0.62           19.25      0.040
15              6.6             0.170         0.38            1.50      0.032
16              6.3             0.480         0.04            1.10      0.046
17              6.2             0.660         0.48            1.20      0.029
18              7.4             0.340         0.42            1.10      0.033
19              6.5             0.310         0.14            7.50      0.044
20              6.2             0.660         0.48            1.20      0.029
21              6.4             0.310         0.38            2.90      0.038
22              6.8             0.260         0.42            1.70      0.049
23              7.6             0.670         0.14            1.50      0.074
24              6.6             0.270         0.41            1.30      0.052
25              7.0             0.250         0.32            9.00      0.046
26              6.9             0.240         0.35            1.00      0.052
27              7.0             0.280         0.39            8.70      0.051
28              7.4             0.270         0.48            1.10      0.047
29              7.2             0.320         0.36            2.00      0.033
...             ...               ...          ...             ...        ...
4868            5.8             0.230         0.31            4.50      0.046
4869            6.6             0.240         0.33           10.10      0.032
4870            6.1             0.320         0.28            6.60      0.021
4871            5.0             0.200         0.40            1.90      0.015
4872            6.0             0.420         0.41           12.40      0.032
4873            5.7             0.210         0.32            1.60      0.030
4874            5.6             0.200         0.36            2.50      0.048
4875            7.4             0.220         0.26            1.20      0.035
4876            6.2             0.380         0.42            2.50      0.038
4877            5.9             0.540         0.00            0.80      0.032
4878            6.2             0.530         0.02            0.90      0.035
4879            6.6             0.340         0.40            8.10      0.046
4880            6.6             0.340         0.40            8.10      0.046
4881            5.0             0.235         0.27           11.75      0.030
4882            5.5             0.320         0.13            1.30      0.037
4883            4.9             0.470         0.17            1.90      0.035
4884            6.5             0.330         0.38            8.30      0.048
4885            6.6             0.340         0.40            8.10      0.046
4886            6.2             0.210         0.28            5.70      0.028
4887            6.2             0.410         0.22            1.90      0.023
4888            6.8             0.220         0.36            1.20      0.052
4889            4.9             0.235         0.27           11.75      0.030
4890            6.1             0.340         0.29            2.20      0.036
4891            5.7             0.210         0.32            0.90      0.038
4892            6.5             0.230         0.38            1.30      0.032
4893            6.2             0.210         0.29            1.60      0.039
4894            6.6             0.320         0.36            8.00      0.047
4895            6.5             0.240         0.19            1.20      0.041
4896            5.5             0.290         0.30            1.10      0.022
4897            6.0             0.210         0.38            0.80      0.020

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    45.0                 170.0  1.00100  3.00       0.45
1                    14.0                 132.0  0.99400  3.30       0.49
2                    30.0                  97.0  0.99510  3.26       0.44
3                    47.0                 186.0  0.99560  3.19       0.40
4                    47.0                 186.0  0.99560  3.19       0.40
5                    30.0                  97.0  0.99510  3.26       0.44
6                    30.0                 136.0  0.99490  3.18       0.47
7                    45.0                 170.0  1.00100  3.00       0.45
8                    14.0                 132.0  0.99400  3.30       0.49
9                    28.0                 129.0  0.99380  3.22       0.45
10                   11.0                  63.0  0.99080  2.99       0.56
11                   17.0                 109.0  0.99470  3.14       0.53
12                   16.0                  75.0  0.99200  3.18       0.63
13                   48.0                 143.0  0.99120  3.54       0.52
14                   41.0                 172.0  1.00020  2.98       0.67
15                   28.0                 112.0  0.99140  3.25       0.55
16                   30.0                  99.0  0.99280  3.24       0.36
17                   29.0                  75.0  0.98920  3.33       0.39
18                   17.0                 171.0  0.99170  3.12       0.53
19                   34.0                 133.0  0.99550  3.22       0.50
20                   29.0                  75.0  0.98920  3.33       0.39
21                   19.0                 102.0  0.99120  3.17       0.35
22                   41.0                 122.0  0.99300  3.47       0.48
23                   25.0                 168.0  0.99370  3.05       0.51
24                   16.0                 142.0  0.99510  3.42       0.47
25                   56.0                 245.0  0.99550  3.25       0.50
26                   35.0                 146.0  0.99300  3.45       0.44
27                   32.0                 141.0  0.99610  3.38       0.53
28                   17.0                 132.0  0.99140  3.19       0.49
29                   37.0                 114.0  0.99060  3.10       0.71
...                   ...                   ...      ...   ...        ...
4868                 42.0                 124.0  0.99324  3.31       0.64
4869                  8.0                  81.0  0.99626  3.19       0.51
4870                 29.0                 132.0  0.99188  3.15       0.36
4871                 20.0                  98.0  0.98970  3.37       0.55
4872                 50.0                 179.0  0.99622  3.14       0.60
4873                 33.0                 122.0  0.99044  3.33       0.52
4874                 16.0                 125.0  0.99282  3.49       0.49
4875                 18.0                  97.0  0.99245  3.12       0.41
4876                 34.0                 117.0  0.99132  3.36       0.59
4877                 12.0                  82.0  0.99286  3.25       0.36
4878                  6.0                  81.0  0.99234  3.24       0.35
4879                 68.0                 170.0  0.99494  3.15       0.50
4880                 68.0                 170.0  0.99494  3.15       0.50
4881                 34.0                 118.0  0.99540  3.07       0.50
4882                 45.0                 156.0  0.99184  3.26       0.38
4883                 60.0                 148.0  0.98964  3.27       0.35
4884                 68.0                 174.0  0.99492  3.14       0.50
4885                 68.0                 170.0  0.99494  3.15       0.50
4886                 45.0                 121.0  0.99168  3.21       1.08
4887                  5.0                  56.0  0.98928  3.04       0.79
4888                 38.0                 127.0  0.99330  3.04       0.54
4889                 34.0                 118.0  0.99540  3.07       0.50
4890                 25.0                 100.0  0.98938  3.06       0.44
4891                 38.0                 121.0  0.99074  3.24       0.46
4892                 29.0                 112.0  0.99298  3.29       0.54
4893                 24.0                  92.0  0.99114  3.27       0.50
4894                 57.0                 168.0  0.99490  3.15       0.46
4895                 30.0                 111.0  0.99254  2.99       0.46
4896                 20.0                 110.0  0.98869  3.34       0.38
4897                 22.0                  98.0  0.98941  3.26       0.32

        alcohol  quality
0      8.800000        6
1      9.500000        6
2     10.100000        6
3      9.900000        6
4      9.900000        6
5     10.100000        6
6      9.600000        6
7      8.800000        6
8      9.500000        6
9     11.000000        6
10    12.000000        5
11     9.700000        5
12    10.800000        5
13    12.400000        7
14     9.700000        5
15    11.400000        7
16     9.600000        6
17    12.800000        8
18    11.300000        6
19     9.500000        5
20    12.800000        8
21    11.000000        7
22    10.500000        8
23     9.300000        5
24    10.000000        6
25    10.400000        6
26    10.000000        6
27    10.500000        6
28    11.600000        6
29    12.300000        7
...         ...      ...
4868  10.800000        6
4869   9.800000        6
4870  11.450000        7
4871  12.050000        6
4872   9.700000        5
4873  11.900000        6
4874  10.000000        6
4875   9.700000        6
4876  11.600000        7
4877   8.800000        5
4878   9.500000        4
4879   9.533333        6
4880   9.533333        6
4881   9.400000        6
4882  10.700000        5
4883  11.500000        6
4884   9.600000        5
4885   9.550000        6
4886  12.150000        7
4887  13.000000        7
4888   9.200000        5
4889   9.400000        6
4890  11.800000        6
4891  10.600000        6
4892   9.700000        5
4893  11.200000        6
4894   9.600000        5
4895   9.400000        6
4896  12.800000        7
4897  11.800000        6

[4898 rows x 12 columns]>

In [48]:
wq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB