In [1]:
import pandas as pd
import numpy as np 
import scipy as sp 
import matplotlib as mpl 
import seaborn as sns

# Need to specify the headers for this dataset
cols = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
       "num_doors", "body_style", "drive_wheels", "engine_location",
       "wheel_base", "length", "width", "height", "curb_weight", "engine_type",
       "num_cylinders", "engine_size", "fuel_system", "bore", "stroke",
       "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg",
       "price"]
data = pd.read_csv("imports-85.data", names=cols)
data.dtypes

symboling              int64
normalized_losses     object
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

1. Membuat model untuk memprediksi Harga Mobil (masalah regresi)
2. Prepare data
3. parameternya (faktor)

Goal: minimum eror

# 2. Prepare the Data

In [2]:
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
import numpy as np

data = data.replace('?', np.nan)

# Now lets make things numeric
num_vars = ['normalized_losses', "bore", "stroke", "horsepower", "peak_rpm",
            "price"]

for i in num_vars:
    data[i] = data[i].astype('float64')
    
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# how many missing values do we have in the normalized losses column?

In [4]:
print("normalized losses: ", data['normalized_losses'].isnull().sum())

normalized losses:  41

In [5]:
data = data.dropna(subset = ['price'])

In [6]:
data.isnull().sum()

symboling             0
normalized_losses    37
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 0
dtype: int64

In [7]:
data = data.dropna(subset = ['bore', 'stroke', 'horsepower', 'peak_rpm'])

In [8]:
cols = ['wheel_base', 'length', 'width', 'height',
        'curb_weight', 'engine_size', 'bore', 'stroke', 'horsepower',
        'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
data = data[cols]

normalized_data = (data - data.mean()) / (data.std())

# Modeling

In [28]:
data.head()

,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,111.0,5000.0,21,27,13495.0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,111.0,5000.0,21,27,16500.0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,154.0,5000.0,19,26,16500.0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,102.0,5500.0,24,30,13950.0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,115.0,5500.0,18,22,17450.0

In [54]:
data.target[data.iloc[:,[12]]]

ValueError: Must pass DataFrame with boolean values only

In [55]:
data.iloc[:,[12]]

       price
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
5    15250.0
6    17710.0
7    18920.0
8    23875.0
10   16430.0
11   16925.0
12   20970.0
13   21105.0
14   24565.0
15   30760.0
16   41315.0
17   36880.0
18    5151.0
19    6295.0
20    6575.0
21    5572.0
22    6377.0
23    7957.0
24    6229.0
25    6692.0
26    7609.0
27    8558.0
28    8921.0
29   12964.0
30    6479.0
..       ...
175   9988.0
176  10898.0
177  11248.0
178  16558.0
179  15998.0
180  15690.0
181  15750.0
182   7775.0
183   7975.0
184   7995.0
185   8195.0
186   8495.0
187   9495.0
188   9995.0
189  11595.0
190   9980.0
191  13295.0
192  13845.0
193  12290.0
194  12940.0
195  13415.0
196  15985.0
197  16515.0
198  18420.0
199  18950.0
200  16845.0
201  19045.0
202  21485.0
203  22470.0
204  22625.0

[195 rows x 1 columns]

In [ ]:
print("[INFO] loading data...") 
dataset = load_data() 
(trainX, testX, trainY, testY) = train_test_split(dataset.data, dataset.target, random_state=3, test_size=0.25)